/* GITALK 自定义样式 */
.gt-container .gt-btn-login {
  background-color: #939599 !important;
  border-color: #939599 !important;
}
.gt-container .gt-btn-preview {
  color: #939599 !important;
  border-color: #939599 !important;
}
.gt-container .gt-header-controls-tip {
  color: #939599 !important;
}
.gt-container .gt-svg svg{
  fill: #939599 !important;
}
.gt-container .gt-link {
  border-color: #939599 !important;
}
.gt-container .gt-link-counts {
  color: #939599 !important;
}
/* 头像旋转 */
.avatar-img img {
  transform: rotate(0) !important;
}